.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content_mainScreen_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 65px);
  background: rgb(237,238,240);
  background: -webkit-linear-gradient(bottom, rgba(237,238,240,1) 0%, rgba(215,212,212,1) 50%, rgba(172,172,172,1) 100%);
  background: -o-linear-gradient(bottom, rgba(237,238,240,1) 0%, rgba(215,212,212,1) 50%, rgba(172,172,172,1) 100%);
  background: linear-gradient(to top, rgba(237,238,240,1) 0%, rgba(215,212,212,1) 50%, rgba(172,172,172,1) 100%);
}

.content_mainScreen {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 100%;
}

.content_mainScreen_block {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.content_mainScreen_image {
  max-width: 400px;
}

.content_mainScreen_headline {
  font-size: 25px;
  margin-bottom: 24px;
}

.content_mainScreen_desc {
  font-size: 45px;
  margin-bottom: 48px;
}

.content_mainScreen_contacts {
  font-size: 35px;
}

.content_about {
  display: flex;
  width: 100%;
}

.content_about_element {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.content_about_element_text {
  white-space: pre-line;
  margin: 25%;
}

.content_about_image {
  display: flex;
  width: 50%;
  background-image: url(../images/tent2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content_goods_wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  background-color: black;
  padding-top: 40px;
}

.content_goods_headline {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.content_goods {
  width: 70%;
  background-color: #ecedef;
}

.content_goods_block {
  display: flex;
  flex-flow: row;
}

.content_goods_block_text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.content_goods_block_text_margin {
  margin: 25%;
}

.content_goods_block_image {
  display: flex;
  width: 50%;
  min-height: 593px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_goods_block_image1 {
  background-image: url(../images/goodsImage1.jpg);
}

.content_goods_block_image2 {
  background-image: url(../images/goodsImage2.jpg);
}

.content_goods_block_image3 {
  background-image: url(../images/goodsImage3.jpg);
}

.content_goods_block_image4 {
  background-image: url(../images/goodsImage4.jpg);
}

.content_goods_block_image5 {
  background-image: url(../images/goodsImage5.jpg);
}

.content_contacts {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #292929;
}

.content_contacts_info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.content_contacts_info_link {
  color: white;
}

.content_contacts_map {
  margin-bottom: 40px;
}
